<a href="https://colab.research.google.com/github/Sudhanshu-singh19/notebooks/blob/main/Untitled9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df_tech =  pd.read_excel('data.xlsx', sheet_name='Technology')
df_uc = pd.read_excel('data.xlsx', sheet_name='Usecase')

In [ ]:
df_tech.shape, df_uc.shape

((558, 13), (421, 6))

In [ ]:
import ast
Title_lst = []
industry_lst = []
for idx_tech, val_tech in enumerate(df_tech['Title']):
  clubbed_industry = []
  if df_tech['Industry'][idx_tech][-2] != "'":
    df_tech['Industry'][idx_tech] = df_tech['Industry'][idx_tech][:len(df_tech['Industry'][idx_tech]) - 2] + "']"
  clubbed_industry.extend(ast.literal_eval(df_tech['Industry'][idx_tech]))
  for idx_uc, val_uc in enumerate(df_uc['Title']):
    if str(val_uc).lower().strip().startswith(str(val_tech).lower().strip()):
      clubbed_industry.extend(ast.literal_eval(df_uc['Industry'][idx_uc]))
  Title_lst.append(val_tech)
  industry_lst.append(list(set(clubbed_industry)))

In [ ]:
len(Title_lst), len(industry_lst)

(558, 558)

In [ ]:
df_output = pd.DataFrame.from_dict({'Title': Title_lst, 'Industry': industry_lst})
df_output.head()

,Title,Industry
0,flexible holistic organic waste management,[textile]
1,iGTB,"[automotive, home appliance]"
2,Météo Carbone®,"[travel and hospitality, chemicals]"
3,\nFLUIDKLEEN®,[chemicals]
4,ACTIFLO® CARB,"[travel and hospitality, chemicals]"

In [ ]:
df_output.to_excel("output_sheet.xlsx")

In [ ]:


industry_name_standard = ['Industries','Agriculture','Automotive','Aviation and Aerospace','Beauty and Personal care','Chemicals','Construction','Education','Electronics & Semiconductor','Energy and Utility','Enterprise and Infrastructure','Entertainment','Finance','Food and Beverages','Healthcare','Home Appliance','HVAC','Logistics','Manufacture','Military and Defence','Mining','Oil and Gas','Packaging','Retail','Robotics','Services','Sports','Telecom','Textile','Travel and Hospitality']

# dict_config = {}
unique_industry_map = []
for idx, val in enumerate(df_tech['Industry']):
  if val[-2] != "'":
    val = val[:len(val) - 2] + "']"
  unique_industry_map.extend(ast.literal_eval(val))
for idx, val in enumerate(df_uc['Industry']):
  if str(val) != 'nan':
    if val[-2] != "'":
      val = val[:len(val) - 2] + "']"
    unique_industry_map.extend(ast.literal_eval(val))

unique_industry_map = list(set(unique_industry_map))
unique_industry_map

['textiles',
 'oil and gas',
 'oil_and_gas',
 'mining',
 'home appliance',
 'textile',
 'healthcare',
 'manufacture',
 'Food and Beverages',
 'Agriculture',
 'Chemicals',
 'pharmaceutical',
 'agriculture',
 'Mining',
 'construction',
 'Enterprise and Infrastructure',
 'Electricity',
 'logistics',
 'chemical',
 'military and defence',
 'Chemicals & Energy',
 'aviation and aerospace',
 'Energy and Utility',
 'enterprise and infrastructure',
 'pharmaceuticals',
 'energy and utility',
 'pulp & paper',
 'manufacturing',
 'pulp and paper',
 'Travel and Hospitality',
 'automotive',
 'food and beverages',
 'energy',
 'chemicals',
 'Energy and utility',
 'Automotive',
 'Logistics ',
 'hvac',
 'food and beverage',
 'travel and hospitality',
 'electronics & semiconductor',
 'finance',
 'Oil and Gas',
 'food and bevarages']

In [ ]:
dict_config = {'industries': 'Industries',
 'agriculture': 'Agriculture',
 'Agriculture': 'Agriculture',
 'automotive': 'Automotive',
 'aviation and aerospace': 'Aviation and Aerospace',
 'beauty and personal care': 'Beauty and Personal care',
 'chemicals': 'Chemicals',
 'construction': 'Construction',
 'education': 'Education',
 'electronics & semiconductor': 'Electronics & Semiconductor',
 'energy and utility': 'Energy and Utility',
 'Energy and utility': 'Energy and Utility',
 'Energy and Utility': 'Energy and Utility',
 'enterprise and infrastructure': 'Enterprise and Infrastructure',
 'enterprise and Infrastructure': 'Enterprise and Infrastructure',
 'entertainment': 'Entertainment',
 'finance': 'Finance',
 'food and beverages': 'Food and Beverages',
 'Food and Beverages': 'Food and Beverages',
 'food and beverage': 'Food and Beverages',
 'healthcare': 'Healthcare',
 'home appliance': 'Home Appliance',
 'hvac': 'HVAC',
 'logistics': 'Logistics',
 'manufacture': 'Manufacture',
 'military and defence': 'Military and Defence',
 'mining': 'Mining',
 'oil and gas': 'Oil and Gas',
 'packaging': 'Packaging',
 'retail': 'Retail',
 'robotics': 'Robotics',
 'services': 'Services',
 'sports': 'Sports',
 'telecom': 'Telecom',
 'textile': 'Textile',
 'textiles': 'Textile',
 'travel and hospitality': 'Travel and Hospitality',
 'Travel and Hospitality': 'Travel and Hospitality',
 'Oil and Gas': 'Oil and Gas',
 'oil_and_gas': 'Oil and Gas'}

In [ ]:
import json
json_object = json.dumps(dict_config, indent=4)

# Writing to sample.json
with open("config.json", "w") as f:
  f.write(json_object)

In [ ]:
with open('config.json', 'r') as f:
  ind_dict = json.load(f)
ind_dict

{'industries': 'Industries',
 'agriculture': 'Agriculture',
 'Agriculture': 'Agriculture',
 'automotive': 'Automotive',
 'aviation and aerospace': 'Aviation and Aerospace',
 'beauty and personal care': 'Beauty and Personal care',
 'chemicals': 'Chemicals',
 'construction': 'Construction',
 'education': 'Education',
 'electronics & semiconductor': 'Electronics & Semiconductor',
 'energy and utility': 'Energy and Utility',
 'Energy and utility': 'Energy and Utility',
 'Energy and Utility': 'Energy and Utility',
 'enterprise and infrastructure': 'Enterprise and Infrastructure',
 'enterprise and Infrastructure': 'Enterprise and Infrastructure',
 'entertainment': 'Entertainment',
 'finance': 'Finance',
 'food and beverages': 'Food and Beverages',
 'Food and Beverages': 'Food and Beverages',
 'food and beverage': 'Food and Beverages',
 'healthcare': 'Healthcare',
 'home appliance': 'Home Appliance',
 'hvac': 'HVAC',
 'logistics': 'Logistics',
 'manufacture': 'Manufacture',
 'military and defence': 'Military and Defence',
 'mining': 'Mining',
 'oil and gas': 'Oil and Gas',
 'packaging': 'Packaging',
 'retail': 'Retail',
 'robotics': 'Robotics',
 'services': 'Services',
 'sports': 'Sports',
 'telecom': 'Telecom',
 'textile': 'Textile',
 'textiles': 'Textile',
 'travel and hospitality': 'Travel and Hospitality',
 'Travel and Hospitality': 'Travel and Hospitality',
 'Oil and Gas': 'Oil and Gas',
 'oil_and_gas': 'Oil and Gas'}

In [ ]:
mapped_list_tech = []
mapped_industry_tech = []
for idx_tech, val_tech in enumerate(df_tech['Title']):
  mapped_dict_list = []
  ind = df_tech['Industry_Merged'][idx_tech]
  for val in ast.literal_eval(ind):
    mapped_dict = {}
    if val in ind_dict.keys():
      mapped_dict["unmapped"] = val
      mapped_dict["mapped"] = ind_dict[val]
    else:
      mapped_dict["unmapped"] = val
      mapped_dict["mapped"] = ''
    mapped_dict_list.append(mapped_dict)
  mapped_dict_list = json.dumps(mapped_dict_list)
  mapped_list_tech.append(mapped_dict_list)
  mapped_industry_tech.append(ind)

In [ ]:
len(mapped_list_tech), len(mapped_industry_tech)

(558, 558)

In [ ]:
mapped_list_uc = []
mapped_industry_uc = []
for idx_tech, val_tech in enumerate(df_uc['Title']):
  mapped_dict_list = []
  ind = df_uc['Industry'][idx_tech]
  if str(ind) != 'nan':
    if ind[-2] != "'":
          ind = ind[:len(ind) - 2] + "']"
    for val in ast.literal_eval(ind):
      mapped_dict = {}
      if val in ind_dict.keys():
        mapped_dict["unmapped"] = val
        mapped_dict["mapped"] = ind_dict[val]
      else:
        mapped_dict["unmapped"] = val
        mapped_dict["mapped"] = ''
      mapped_dict_list.append(mapped_dict)
  mapped_dict_list = json.dumps(mapped_dict_list)
  mapped_list_uc.append(mapped_dict_list)
  mapped_industry_uc.append(ind)

In [ ]:
df_tech_map = pd.DataFrame.from_dict({"Industry_tech": mapped_industry_tech, "Industry_Mapping_tech": mapped_list_tech})
df_tech_map.to_excel('tech_map.xlsx')
df_uc_map = pd.DataFrame.from_dict({"Industry_uc": mapped_industry_uc, "Industry_Mapping_uc": mapped_list_uc})
df_uc_map.to_excel('uc_map.xlsx')

In [ ]:
domain_lst = []
final_domain_lst = []
merged_industry_lst = []
for idx, val in enumerate(df_tech['Domain']):
    if val not in domain_lst:
      domain_lst.append(val)
      final_domain_lst.append(val)
      merged_industry_lst.append(df_tech['Industry_Merged'][idx])

len(final_domain_lst), len(merged_industry_lst)

(127, 127)

In [ ]:
df_domain = pd.DataFrame.from_dict({'domain': final_domain_lst, 'Industry': merged_industry_lst})
df_domain.head()

                  domain                                 Industry
0  griffinrefineries.com                            ['chemicals']
1      getabecboiler.com         ['automotive', 'home appliance']
2               suez.com  ['travel and hospitality', 'chemicals']
3       cleanharbors.com                            ['chemicals']
4             veolia.com  ['travel and hospitality', 'chemicals']

In [ ]:
df_domain.to_excel('domain_indusrty_mapping.xlsx')